
# Environment variables
# IDE
# OS
# SQLite databases
# Testing
# Virtual environments
*$py.class
*.db
*.egg
*.egg-info/
*.py[cod]
*.pyc
*.so
*.sqlite3
*.swo
*.swp
.DS_Store
.coverage
.eggs/
.env
.idea/
.pytest_cache/
.venv/
.vercel
.vscode/
Thumbs.db
__pycache__/
build/
dist/
env/
htmlcov/
venv/
